.clients {
  &__title {
    color: var(--main-title-color);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
  &__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      gap: 0;
    }
  }

  &__item {
    width: 210px;
    height: 92px;

    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
      flex-wrap: nowrap;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.clients__link {
  @include flex-center();
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--border-color);
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--color-brand);
    border-color: var(--color-brand);
  }
}
